:root {
    --dark-blue: #101820;
    --medium-blue: #243447;
    --light-blue: #BACBDA;
    --ultra-light-blue: #DBE2E6;
    --green: #38D430;
    --dark-green: #2CA926;
    --ultra-dark-green: #217F1C;
    --accent-yellow: #FFE817;
}